.paymant {
  background-color: white;
}

.paymant__container h1 {
  text-align: center;
  padding: 10px;
  font-weight: 400;
  background-color: rgb(234, 237, 237);
  border-bottom: 1px solid lightgray;
}

.paymant__section {
  display: flex;
  padding: 20px;
  margin: 0 20px;
  border-bottom: 1px solid lightgray;
}

.paymant__title {
  flex: 0.2;
}
.paymant__adress,
.paymant__items {
  flex: 0.8;
}
.paymant__adress,
.paymant__items,
.paymant__details {
  flex: 0.8;
}

.paymant__priceContainer h3 {
  margin: 5px 0 5px 0;
}
.paymant__details form {
  max-width: 400px;
}
.paymant__details h4 {
  padding-bottom: 10px;
  padding-top: 10px;
}

.paymant__details form div button {
  width: 100%;
  height: 30px;
  font-weight: bolder;
  color: #111;
}
